body {
	background: black;
}

.wrapper {
	width: 100%;
	padding: 20px 30px 20px 30px;
}

.wrapper h1{
	font-family: 'Montserrat', sans-serif;
}

/*For tablet/desktop users*/
@media only screen and (min-width: 768px){
	
	
}