#container {
    background-color: #2b2b2b;
    width: 100%;
    text-align: center;
    margin: 0 0 1em;
    top: 0;
	text-align: center;
    overflow: hidden;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding: 15px;
    border: none;
}