#container {
    background-color: rgb(40, 40, 40);
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#container div {
    padding: 14px 20px;
    border: 0px 1px 0px 0px solid rgb(0, 0 ,0);
    background-color: rgb(60, 60, 60);
    font-family: 'Roboto', sans-serif;
    color: rgb(225, 225, 225);
    font-size: 16px;
}

#container a {
    text-decoration: none;
}

#container a :hover {
    background-color: rgb(100, 100, 100);
}

.homebutton {
    float: left;
}

.headerbutton {
    float: right;
}
